<img src="{{ album.image }}" class="{{ styles.album__img }} preview-img">
<div class="{{ styles.album__name }}">
    <span>{{ album.name }}</span>
</div>
<div class="{{ styles.album__artist }}">
    <span>{{ album.artistName }}</span>
</div>
