<div class="{{ styles.playlists__container }}">
  <div class="{{ styles.playlists__block }}">
    {{#if showMoreHref}}
      <div class="{{ styles.playlists__text }}">
        Популярные плейлисты
        <a href="{{ showMoreHref }}" class="{{ styles.playlists__show_more }} {{ styles.link }}">Показать еще</a>
      </div>
    {{/if}}
    <div class="{{ styles.playlists__list }}" id="mainpage-popular-playlists">
    
    </div>
  </div>
</div>
