<div class="{{ styles.playlists__container }} container">
  <div class="{{ styles.playlists__block }} block">
    {{#if showMoreHref}}
      <div class="{{ styles.playlists__text }}">
        <h4>Популярные плейлисты</h4>
        <a href="{{ showMoreHref }}" class="{{ styles.playlists__show_more }} link"><h4>Показать еще</h4></a>
      </div>
    {{/if}}
    <div class="{{ styles.playlists__list }}" id="mainpage-popular-playlists">
    
    </div>
  </div>
</div>
