<div class="{{ styles.track-playlist-modal }}">
    <div class="{{ styles.track-playlist-modal__header }}">
        <h4>Выберите плейлист</h4>
        <button class="{{ styles.track-playlist-modal__close-btn }} button"><h4>×</h4></button>
    </div>
    <div class="{{ styles.track-playlist-modal__body }}">
        {{#each playlists}}
        <a href="#" class="{{ styles.track-playlist-modal__playlist-link }} link" data-id="{{this.id}}">
            {{this.name}}
        </a>
        {{/each}}
    </div>
</div>
