<div class="{{ styles.track-in-playlist-modal }}">
    <div class="{{ styles.track-in-playlist-modal__header }}">
        <h4>Выберите плейлист</h4>
        <button class="{{ styles.track-in-playlist-modal__close-btn }} button"><h4>×</h4></button>
    </div>
    <div class="{{ styles.track-in-playlist-modal__body }}">
        {{#each playlists}}
        <h5><a href="/playlist/{{ this.id }}" class="{{ ../styles.track-in-playlist-modal__playlist-link }} link" data-id="{{this.id}}">
            {{this.name}}
        </a></h5>
        {{/each}}
    </div>
</div>
