<div class="{{ styles.track__left_side }}">
    <img class="{{ styles.track__img }}" src="{{ track.image }}">
    <div class="{{ styles.track__info }}">
        <div class="{{ styles.track__name }}">{{ track.name }} </div>
        <div class="{{ styles.track__artist }}">
            <a class="{{ styles.track__artist__artist_link }} link"
                href="/artist/{{ track.artistID }}">
                {{ track.artistName }}
            </a> 
        </div>
    </div>
</div>
<div class="{{ styles.track__right_side }}">
    {{#if isMyPlaylist }}
    <img src="{{ trashIcon }}" id="delete-from-playlist" class="{{ styles.track__delete-btn }}">
    {{/if}}
    {{#if user.isAuthorized}}
    <img src="{{ heartBlackIcon }}" id="like-track" class="{{ styles.track__like-btn }} icon {{#if isFavorite}} {{ styles.track__liked }} {{/if}}">
    <img src="{{ addIcon }}" id="add-to-playlist" class="{{ styles.track__add-btn }}">
    {{/if}}
    {{ track.duration }}
</div>
