<div class="{{ styles.login }}">
  <div class="{{ styles.login__container }}">
    <div class="{{ styles.login__intro }}">
      <h1 class="{{ styles.login__title }}">NovaMusic</h1>
      <h2 class="{{ styles.login__subtitle }}">Музыкальный стриминговый сервис</h2>
      <div class="{{ styles.login__info }}">Переходите к прослушиванию любимой музыки</div>
    </div>

    <div class="{{ styles.login__form }}">
      <form id="login-form">
        <input
          class="{{ styles.login__input }}"
          type="text"
          id="username"
          name="username"
          placeholder="Имя пользователя"
          required
        />
        <div id="login__username-error" class="{{ styles.login__input-error }}"></div>

        <input
          class="{{ styles.login__input }}"
          type="password"
          id="password"
          name="password"
          placeholder="Пароль"
          required
        />
        <div id="login__password-error" class="{{ styles.login__input-error }}"></div>
        
        <button class="{{ styles.login__submit_btn }}" type="submit">Войти</button>
        <div class="{{ styles.login__additional }}">
          Нет аккаунта? 
          <a class="{{ styles.login__register_site }} link" href="/signup">Регистрация в NovaMusic</a></span>
        </div>
        <div id="login__general-error" class="{{ styles.login__general-error }}"></div>
      </form>
    </div>
  </div>
</div>
