<div class="{{ styles.user_card__container }}">
  <div class="{{ styles.user_card__block }}">
    <div class="{{ styles.user_card__wrapper }}">
      <div class="{{ styles.user_card__public_info }}">
        <div class="{{ styles.user_card__name }}">{{ user.username }}</div>
        <img src="{{user.image}}" class="{{ styles.user_card__avatar }}">
      </div>
      {{#if isCurrentUser}}
        <div class="{{ styles.user_card__edit }}">
          <a href="/profiles/{{user.username}}/edit" class="{{ styles.user_card__link }} link">Настройки профиля</a>
        </div>
      {{/if}}
    </div>
  </div>
</div>
