<div class="{{ styles.user_card__container }} container">
  <div class="{{ styles.user_card__block }} block">
    <div class="{{ styles.user_card__wrapper }}">
      <div class="{{ styles.user_card__public_info }}">
        <div class="{{ styles.user_card__name }}"><h3>{{ user.username }}</h3></div>
        <img src="{{ user.image }}" class="{{ styles.user_card__avatar }} card-img">
      </div>
      {{#if isCurrentUser}}
        <div class="{{ styles.user_card__edit }}">
          <h4><a href="/profiles/{{ user.username }}/edit" class="{{ styles.user_card__link }} button_link">Настройки профиля</a></h4>
        </div>
      {{/if}}
    </div>
  </div>
</div>

