<div class="{{ styles.error__container }} container">
  <div class="{{ styles.error__block }} block">
    <div class="{{ styles.error__title }}"><h3>{{ title }}</h3></div>
    <div class="{{ styles.error__message }}"><h5>{{ message }}</h5></div>
  </div>
</div>
