<div class="{{ styles.error__container }}">
  <div class="{{ styles.error__block }}">
    <div class="{{ styles.error__title }}">{{title}}</div>
    <div class="{{ styles.error__message }}">{{message}}</div>
  </div>
</div>
