<div class="{{ styles.edit_user__container }} container">
  <div class="block">
    <div class="{{ styles.edit_user__text }}"><h4>Редактирование профиля</h4></div>
    <form class="{{ styles.edit_user__form }}" id="edit-user-form">
      <input
        class="{{ styles.edit_user__input }}"
        type="text"
        id="username"
        name="username"
        placeholder="Имя пользователя"
        value="{{user.username}}"
        required
      />
      <div id="edit-user__username-error" class="{{ styles.edit_user__input_error }}"><h4></h4></div>
      <input
        class="{{ styles.edit_user__input }}"
        type="email"
        id="email"
        name="email"
        placeholder="Адрес электронной почты"
        value="{{user.email}}"
        required
      />
      <div id="edit-user__email-error" class="{{ styles.edit_user__input_error }}"><h4></h4></div>
      <button class="{{ styles.edit_user__submit_btn }} button" type="submit"><h4>Сохранить</h4></button>
      <div id="edit-user__general-error" class="{{ styles.edit_user__general_error }}"><h4></h4></div>
    </form>
  </div>
</div>
