<div class="{{ styles.album_card__container }}">
  <div class="{{ styles.album_card__block }}">
    <div class="{{ styles.album_card__text }}">Альбом</div>
    <div class="{{ styles.album_card__wrapper }}">
      <img src="{{ album.image }}" class="{{ styles.album_card__img }}" />
      <div class="{{ styles.album_card__aside }}">
        <div class="{{ styles.album_card__info }} {{ styles.album_info }}">
          <div class="{{ styles.album_info__name }}"> {{ album.name }} </div>
          <div class="{{ styles.album_info__artist_release }}">
            <a class="{{ styles.album_info__artist_release__artist_link }} link"
              href="/artist/{{ album.artistID }}">
              {{ album.artistName }}
            </a>
            · {{ album.release }}
          </div>
          <div class="{{ styles.album_info__likes }}">123 оценок нравится</div>
          <div class="{{ styles.album_info__listen }}">123 прослушиваний в месяц</div>
        </div>
        <div class="{{ styles.album_info__buttons }} {{ styles.buttons }}">
          <div class="{{ styles.buttons__subscribe }}">
            <img src="{{ subIcon }}" class="{{ styles.buttons__icon }}" />
            Подписаться
          </div>
          <div class="{{ styles.buttons__listen }}">
            <img src="{{ listenIcon }}" class="{{ styles.buttons__icon }}" />
            Слушать
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
