<div class="{{ styles.csat_window__container }}">
  <div class="{{ styles.csat_window__btn_close }}">&times;</div>
  <div class="{{ styles.csat_window__text }}">
    <h1 class="{{ styles.csat_window__title }}">{{ question }}</h1>
  </div>
  <div class="{{ styles.rating_cast__container }}">
    <div class="{{ styles.rating_cast__block }}" data-value="1">1</div>
    <div class="{{ styles.rating_cast__block }}" data-value="2">2</div>
    <div class="{{ styles.rating_cast__block }}" data-value="3">3</div>
    <div class="{{ styles.rating_cast__block }}" data-value="4">4</div>
    <div class="{{ styles.rating_cast__block }}" data-value="5">5</div>
    <div class="{{ styles.rating_cast__block }}" data-value="6">6</div>
    <div class="{{ styles.rating_cast__block }}" data-value="7">7</div>
    <div class="{{ styles.rating_cast__block }}" data-value="8">8</div>
    <div class="{{ styles.rating_cast__block }}" data-value="9">9</div>
    <div class="{{ styles.rating_cast__block }}" data-value="10">10</div>
  </div>
  <div class="{{ styles.csat_window__btn_container }}">
    <button class="{{ styles.csat_window__submit }}">Ответить</button>
  </div>
</div>

