<div class="{{ styles.popular_artists__container }}">
    <div class="{{ styles.popular_artists__block }}">
        <div class="{{ styles.popular_artists__upper_wrapper }}">
            <div class="{{ styles.popular_artists__text }}">
                Популярные артисты
            </div>
            <a href="{{ showMoreHref }}" class="{{ styles.popular_artists__show_more}}">Показать еще</a>
        </div>
        <div class="{{ styles.carousel__container }}">
            <button class="{{ styles.carousel__button }} {{ styles.carousel__button_prev }}">❮</button>
            <div class="{{ styles.carousel__area }}">
                <div class="{{ styles.carousel__inner }}" id="mainpage-popular-artists">

                </div>
            </div>
            <button class="{{ styles.carousel__button }} {{ styles.carousel__button_next }}">❯</button>
        </div>
    </div>
</div>
