<div class="{{ styles.popular_playlists__container }} container">
    <div class="{{ styles.popular_playlists__block }} block">
        <div class="{{ styles.popular_playlists__upper_wrapper }}">
            <div class="{{ styles.popular_playlists__text }}">
                <h4>Популярные артисты</h4>
            </div>
            <h4><a href="{{ showMoreHref }}" class="popular_playlists__show_more link">Показать еще</a></h4>
        </div>
        <div class="carousel__container">
            <button class="carousel__button carousel__button_prev">❮</button>
            <div class="carousel__area">
                <div class="carousel__inner" id="popular-playlists">

                </div>
            </div>
            <button class="carousel__button carousel__button_next">❯</button>
        </div>
    </div>
</div>
