<div class="{{ styles.upload_avatar__container }}">
  <div class="{{ styles.upload_avatar__block }}">
    <div class="{{ styles.upload_avatar__text }}">Загрузка аватарки</div>
    <form class="{{ styles.upload_avatar__form }} {{ styles.avatar_form }}" id="upload-avatar-form" enctype="multipart/form-data">
      <div class="{{ styles.upload_avatar__input }}">
        <label class="{{ styles.avatar_form__input_label }}" for="avatar">
          <div class="{{ styles.avatar_form__input_btn }}">Выберите файл</div>           
        </label>
        <input
          class="{{ styles.avatar_form__input }}"
          type="file"
          id="avatar"
          name="file"
          accept=".jpg,.jpeg,.png,.webp,.svg"
          required
        />
      </div>
      <button class="{{ styles.avatar_form__submit_btn }}" type="submit">Загрузить</button>
    </form>
  </div>
</div>
