<img src="{{ playlist.image }}" class="{{ styles.playlist__img }} preview-img">
<div class="{{ styles.playlist__name }}">
    <span>{{ playlist.name }}</span>
</div>
<div class="{{ styles.playlist__owner }}">
    <span>{{ playlist.owner_name }}</span>
</div>

