<div class="{{ styles.tracks__container }} container">
  <div class="{{ styles.tracks__block }} block">
    <div class="{{ styles.tracks__upper_wrapper }}">
      <div class="{{ styles.tracks__recommend_text }}">
        <h4>Треки</h4>
      </div>
      {{#if showMoreHref}}
      <h4><a href="{{ showMoreHref }}" class="{{ styles.tracks__show_more }} link_more_tracks link">Показать еще</a></h4>
      {{/if}}
    </div>
    <div class="{{ styles.tracks__tracks }}" id="tracks">
    
    </div>
  </div>
</div>
