<div class="{{ styles.listen__container }}">
  <div class="{{ styles.listen__block }}">
    <img class="{{ styles.listen__btn_img }}" src="{{ playIcon }}">
    <h1 class="{{ styles.listen__title }}">NovaWave</h1>
    <div class="{{ styles.listen__info }}">Слушать динамическую подборку</div>
  </div>
</div>
