<div class="{{ styles.listen__container }}">
  <div class="{{ styles.listen__block }} block">
    <img class="{{ styles.listen__btn_img }} button button-scale card-img" src="{{ playCircleIcon }}">
    <h1 class="{{ styles.listen__title }}">NovaWave</h1>
    <div class="{{ styles.listen__info }}"><h2>Слушать динамическую подборку</h2></div>
  </div>
</div>
