<div class="{{ styles.artist_card__container }}">
  <div class="{{ styles.artist_card__block }}">
    <div class="{{ styles.artist_card__text }}">Исполнитель</div>
    <div class="{{ styles.artist_card__wrapper }}">
      <img src="{{artist.image}}" class="{{ styles.artist_card__img }}" />
      <div class="{{ styles.artist_card__aside }}">
        <div class="{{ styles.artist_card__info }} {{ styles.artist_info }}">
          <div class="{{ styles.artist_info__name }}"> {{artist.name}} </div>
          <div class="{{ styles.artist_info__genres }}">
            Жанры:
            {{#each genres}}
              {{this.rusName}}
            {{/each}}
          </div>
          <div class="{{ styles.artist_info__likes }}">123 оценок нравится</div>
          <div class="{{ styles.artist_info__listen }}">123 прослушиваний в месяц</div>
        </div>
        <div class="{{ styles.artist_info__buttons }} {{ styles.buttons }}">
          <div class="{{ styles.buttons__subscribe }}">
            <img src="{{ subIcon }}" class="{{ styles.buttons__icon }}" />
            Подписаться
          </div>
          <div class="{{ styles.buttons__listen }}">
            <img src="{{ listenIcon }}" class="{{ styles.buttons__icon }}" />
            Слушать
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

