<div class="{{ styles.header }}">
  <div class="{{ styles.header__container }}">
    <div class="{{ styles.header__row }}">
      <div class="{{ styles.header__left_block }}">
        <img class="{{ styles.header__img_logo }}" src="{{ logoLightIcon }}">
        <a
          class="{{ styles.header__link_logo }} link"
          id="header_logo_link"
          {{#if user.isAuthorized}} 
          href="/"
          {{else}}
          href="/signin"
          {{/if}}
        >NovaMusic</a>
        <a
          class="{{ styles.header__link_search }} navlink link"
          href="/search"
        >Поиск</a>
      </div>
      <div class="{{ styles.header__right_block }}" id="header_signin_menu">
        {{#if user.isAuthorized}}
          <div class="{{ styles.header__signed_block }}">
            <img src="{{ user.image }}" href="/profiles/{{ user.username }}" class="{{ styles.header__profile_img }} link">
            <a
              class="{{ styles.header__link_signin }}"
              id="header_logout_link"
              href="/signin"
            >Выход</a>
          </div>
        {{else}}
          <a
            class="{{ styles.header__link_signin }} navlink link"
            id="header_signin_link"
            href="/signin"
          >Войти</a>
          <a
            class="{{ styles.header__link_signup }} navlink link"
            id="header_signup_link"
            href="/signup"
          >Регистрация</a>
        {{/if}}
      </div>
    </div>
  </div>
</div>