<div class="{{ styles.album_carousel__container }} container">
    <div class="{{ styles.album_carousel__block }} block">
        <div class="{{ styles.album_carousel__upper_wrapper }}">
            <div class="{{ styles.album_carousel__recommend_text }}">
                <h4>Альбомы</h4>
            </div>
            <a href="{{ showMoreHref }}" class="{{ styles.album_carousel__show_more}} link"><h4>Показать еще</h4></a>
        </div>
        <div class="{{ styles.carousel__container }}">
            <button class="{{ styles.carousel__button }} {{ styles.carousel__button_prev }}">❮</button>
            <div class="{{ styles.carousel__area }}">
                <div class="{{ styles.carousel__inner }}" id="albums-carousel">

                </div>
            </div>
            <button class="{{ styles.carousel__button }} {{ styles.carousel__button_next }}">❯</button>
        </div>
    </div>
</div>
