<div class="{{ styles.album_carousel__container }} container">
    <div class="{{ styles.album_carousel__block }} block">
        <div class="{{ styles.album_carousel__upper_wrapper }}">
            <div class="{{ styles.album_carousel__recommend_text }}">
                <h4>Альбомы</h4>
            </div>
            <h4><a href="{{ showMoreHref }}" class="album_carousel__show_more link">Показать еще</a></h4>
        </div>
        <div class="carousel__container">
            <button class="carousel__button carousel__button_prev }}">❮</button>
            <div class="carousel__area">
                <div class="carousel__inner" id="albums-carousel">

                </div>
            </div>
            <button class="carousel__button }} carousel__button_next">❯</button>
        </div>
    </div>
</div>
