<div class="{{ styles.search_line__container }} container">
  <div class="{{ styles.search_line__block }} block">
    <form class="{{ styles.search_line__form }}">
      <input
        type="text"
        class="{{ styles.search_line__input }}"
        placeholder="Трек, артист или альбом..."
        required
      />
      <button class="{{ styles.search_line__button }} button" type="submit"><h4>Искать</h4></button>
    </form>
  </div>
</div>
