<div class="{{ styles.search_line__container }}">
  <div class="{{ styles.search_line__block }}">
    <form class="{{ styles.search_line__form }}">
      <input
        type="text"
        class="{{ styles.search_line__input }}"
        placeholder="Трек, артист или альбом..."
        required
      />
      <button class="{{ styles.search_line__button }}" type="submit">Искать</button>
    </form>
  </div>
</div>
