<div class="{{ styles.user-playlists__container }}">
    <div class="{{ styles.user-playlists__block }}">
        <div class="{{ styles.user-playlists__text }}">
            Плейлисты пользователя
            {{#if isMyProfile }}
            <div class="{{ styles.buttons__new }}" id="add-playlist">
                <img src="{{ subIcon }}" class="{{ styles.buttons__icon }}" />
                Создать плейлист
            </div>
            {{/if}}
        </div>
        <div class="{{ styles.user-playlists__list }}" id="user-playlists">

        </div>
    </div>
</div>
